<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="register-title animate__animated animate__pulse">
          SIGN UP
        </h1>
        <form [formGroup]="registerForm" (submit)="register()">
          <div class="form group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              [(ngModel)]="user.email"
              formControlName="email"
              required
              autofocus
            />
          </div>
          <div
            class="registerBtnError"
            *ngIf="
              registerForm.get('email').errors &&
              registerForm.get('email').dirty
            "
          >
            Invalid Email
          </div>
          <div class="form group">
            <label for="password" class="mt-2">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="user.password"
              required
              formControlName="password"
            />
          </div>
          <div
            class="registerBtnError"
            *ngIf="
              registerForm.get('password').errors &&
              registerForm.get('password').dirty
            "
          >
            <div
              class="registerBtnError"
              *ngIf="registerForm.get('password').hasError('minlength')"
            >
              Your Password must contain at least 6 characters
            </div>
            <div
              class="registerBtnError"
              *ngIf="registerForm.get('password').hasError('maxlength')"
            >
              Your Password must contain less than 10 characters
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-3">
            Sign Up
          </button>
        </form>
        <div class="form-group mt-3">
          <p>Do you have an account?<a routerLink="/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
