<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 style="text-align: center;">REGISTER</h1>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              autofocus
            />
          </div>
          <button
            class="btn btn-danger registerBtnError"
            *ngIf="
              registerForm.get('email').errors &&
              registerForm.get('email').dirty
            "
          >
            Email is Obligatory
          </button>
          <div class="form group">
            <label for="password" class="mt-2">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div
            class="btn btn-danger registerDivError"
            *ngIf="
              registerForm.get('password').errors &&
              registerForm.get('password').dirty
            "
          >
            <button
              class="btn btn-danger"
              *ngIf="registerForm.get('password').hasError('required')"
            >
              Password is Obligatory
            </button>
            <button
              class="btn btn-danger"
              *ngIf="registerForm.get('password').hasError('minlength')"
            >
              Your Password must contain at least 6 characters
            </button>
            <button
              class="btn btn-danger"
              *ngIf="registerForm.get('password').hasError('maxlength')"
            >
              Your Password must contain less than 10 characters
            </button>
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-3">
            Register
          </button>
        </form>
        <div class="form-group mt-3">
          <p>Do you have an account?<a routerLink="/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
