h1 {
  font-size: 1.7em;
  text-align: right;
}
.card-header {
  font-weight: bold;
  text-align: left;
}

.images-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

img {
  padding: 10px;
  height: 200px;
}
