<h1>Products Details</h1>
<div class="card text-center">
  <div class="card-header">{{ producId.details.header }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ productId.details.title }}</h5>
    <p class="card-text"></p>
    <div class="images-div">
      <img src="" alt="shirt" />
      <img src="" alt="shirt" />
      <img src="" alt="shirt" />
    </div>
    <button class="btn btn-primary" routerLink="/details/1">Buy Now!</button>
  </div>
  <div class="card-footer text-muted"></div>
</div>
