<div class="jumbotron">
  <h1 class="display-4 text-center animate__animated animate__pulse">
    Welcome to Sports Shop BA!
  </h1>
  <p class="lead text-center">
    Thanks for trusting in the best ranked sports network in Buenos Aires!. Feel
    free to contact us in any case.
  </p>
  <hr class="my-4" />
  <p class="text-center">
    We accept all credit cards.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['/']" role="button"
      >Go to Store</a
    >
  </p>
</div>
